*{font:14px "Trebuchet MS", Arial, Helvetica, sans-serif;}
.exemplo{padding:20px; color:#FFF; background:#06F; margin-bottom:10px;}
span{padding:0 4px; background:red; color:white; font-weight:bold; cursor:pointer;}