*{font:14px "Trebuchet MS", Arial, Helvetica, sans-serif;}
.exemplo{padding:20px; text-align:center; color:#FFF; background:#06F; margin-bottom:10px;}
.adicionar{background-color:#0CF; text-shadow:1px 1px #333; font-weight:bold;}