body{font:14px "Trebuchet MS", Arial, Helvetica, sans-serif;}
.exemplo{width:465px; padding:20px; background:#069; text-align:center; color:#FFF;}
p, input{width:485px; padding:5px; background:#000; text-align:center; color:#FFF; border:5px solid #CCC; margin:5px 0;}