span{display:block; padding:10px; background:#09f; color:#fff; font:bold 14px  "Trebuchet MS", Arial, Helvetica, sans-serif; margin-bottom:10px;}
input{margin-bottom:5px;}
.campos input{display:block; margin-bottom:5px;}
.acao{margin-top:10px;}